::-webkit-scrollbar {
    display: none;
}

/* General */

body {
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    /* overflow: hidden; */
    color: black;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

a, a:hover {
    color: black;
}

/* Nav */

.container-fluid {
    padding: 0;
}

.navbar {
    padding: 10px 70px;
    width: 100%;
    z-index: 4;
}

/* Hero */

.title {
    font-weight: bold;
    color: black;
    font-size: 7vw;
    /* transform: skewX(-5deg); */
    font-weight: 900;
    margin-left: -8px;
    margin: 25px 0;
}

.title-highlight {
    color: black;
}

.title-sub {
    padding-top: 5px;
    padding-bottom: 15px;
    font-weight: 600;
}

.scroller-anchor {
    text-decoration: none;
    color: black;
}

.scroller-anchor:hover {
    color: black;
}

.scroller {
    text-align: center;
    position: absolute;
    width: 100vw;
    padding: 15px;
    margin-top: -60px;
}

.title-button {
    margin-top: 35px;
    margin-bottom: 20px;
    /* ^ This accounts for nav bar at top */
}

/* .hero-div {
    background-color: #FDFF8F;
    display: flex;
    padding: 100px 0;
}

.hero-center {
    margin: auto 0 auto 5vw;
} */

/* Hero (section 4) */

.section-div4 {
    background-color: #FDFF8F;
    display: flex;
    padding: 100px 0;
    height: calc(100vh - 60px);
}

/* Section 1 */

.section-div1 {
    background-color: #A8ECE7;
    display: flex;
    padding: 100px 0;
}

.section-center1 {
    margin: auto 5vw auto 5vw;
    margin: auto 70px auto 70px;
}

/* Section 2 */

.section-div2 {
    background-color: #F4BEEE;
    display: flex;
    padding: 100px 0;
}

/* Section 6 */

.section-div6 {
    background-color: #D7E9F7;
    display: flex;
    padding: 100px 0;
}

/* Section 5 */

.section-div5 {
    background-color: #B4FE98;
    display: flex;
    padding: 100px 0;
}

/* Section 3 */

.section-div3 {
    background-color: #FFC286;
    display: flex;
    padding: 100px 0;
}

/* Footer */

 .footer {
    background-color: #212529;
    display: flex;
    text-align: center;
 }

 .footer-content {
    padding: 100px 0;
    margin: auto;
 }

 .footer-title {
    padding-top: 5px;
    padding-bottom: 50px;
    max-width: 40vw;
    color: white;
 }

 @media (max-width: 1000px) {
   .mobile-size {
        text-align: center;
   }
   .section-div4 {
       height: auto;
   }
   .title-sub {
    font-size: 4vw;
   }
   .scroller {
       display: none;
   }
}

.section-center1 {
    width: 100vw;
}

.jump{
    animation:jump 4s infinite ease-in-out;
    position:relative;
}
@keyframes jump {
    0%{top:0px}
    40%{top:0px}
    43%{top:-10px}
    46%{top:0px}
    48%{top:-6px}
    50%{top:0px}
    100%{top:0px;}
}
